body {
  background-color: rgb(232, 230, 230);
  margin: 0;
}

.headline {
  margin-top: 70px;
}

/*Hero*/

.converter {
  position: fixed;
  left: auto;
  bottom: auto;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

.container {
  background-color: #53585F;
  max-width: 500px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 10px 70px rgba(0, 0, 0, 0.684);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100px;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.convert-button {
  border-radius: 15px;
  margin-left: 20px;
  font-size: 20px;
  background-color: rgba(15, 85, 15, 0.809);
  color: white;
}

.result {
  margin-top: 25px;
}


/*Footer*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 15px;
}
