body {
  background-color: rgba(232, 230, 230, 0.763);
  margin: 0;
}

.headline-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align:center;
  padding: 0 20px;
}

.headline {
  font-size: 2em;
  margin: 0;
  color: #333;
}

@media (min-width: 600px) {
  .headline {
    font-size: 2.5em;
  }
}

@media (min-width: 900px) {
  .headline {
    font-size: 3em;
  }
}

